body {
    margin: auto
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

header {
    height: 70px;
    background-color: #3b2632;
}

#brand {
    color: #fff;
    font-size: 3rem;
    float: left;
    margin-top: 1%;
    margin-left: 1%;
}

#social {
    float: right;
    margin-top: .7rem;
    margin-right: 1%;
}

.socialImg {
    height: 5rem;
}

/* Search Block Css */
#container {
    max-width: 120rem;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.filter {
    font-size: 1.5rem;

    font-family: sans-serif;
    color: #333;
}

.filter-options {
    line-height: 1.5;
}

.filter-1 div,
.filter-2 div {
    line-height: 1.8;
}

.filter-heading {
    padding: 1rem 0;
    border-bottom: 1px solid #dadada;
}

.filter-heading h2 {
    text-align: left;

}

h2 {
    text-align: center;
}

.content {
    font-size: 1.5rem;
    padding-left: 2rem;
    color: #333;
}


.search {
    width: 100%;
    border: #dadada .2rem solid;
    height: 2rem;
    border-radius: 5px;
    margin-top: 5px;
}


.listing {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    gap: 1rem;
    height: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 10px;
}

.img {
    width: 100%;
    border-radius: 10px;
}

.text-box {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.rest-name {
    font-size: 2.5rem;
    font-weight: bolder;
    color: cornflowerblue;
}

.rest-details {
    line-height: 1.25;
    font-size: 1.5rem;
}

.btn {
    display: inline-block;
    color: #fff;
    background-color: #000;
    margin-top: 5px;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.5rem;
}


.btn-1 {
    background-color: cornflowerblue;
}

.btn-2 {
    background-color: darkseagreen;
}

.btn-3 {
    background-color: indianred;
}

.btn-4 {
    background-color: deepskyblue;
}



/* .search {
    width: 100%;
    border: none;
    background: none;
} */

/* #container {
    width: 80%;
    height: 700px;
    margin: 15px auto;
    display: flex;
} */

/* Footer Block Css */
footer {
    font-size: 1.5rem;
    height: 140px;
    background-color: #3b2632;
    color: #fff;
    text-align: center;
}

ul {

    list-style: none;
}

.fotDiv {
    width: 31%;
    float: left;
    border-right: 2px solid white;
}

.noBorder {
    border: none
}

/* media queries */

@media (max-width:1200px) {
    #container {
        padding: 0 2rem;
    }
}

@media (max-width:968px) {
    .listings .listing {
        grid-template-columns: 1fr 1fr;
    }

    .listing .text-box {
        gap: 2rem;
    }

}

@media (max-width:768px) {
    #container {
        grid-template-columns: 1fr;
    }

    .filter {
        display: grid;
        grid-template-columns: 1fr 4fr;
        align-items: center;
    }

    .filter-heading {
        padding: 1rem 2rem;
        border-bottom: none;
        border-right: 1px solid #dadada;
    }

    .filter-options {
        padding: 0 2rem;
        display: flex;
        justify-content: space-between;
    }

}

@media (max-width:540px) {
    html {
        font-size: 50%;
    }
}